# 1.Manipulate using a list

In [48]:
l = ['Prabhas','Salaar','Ranbir','Animal']

In [49]:
# To addnew elements to the end of the list 

l.append('Prashanth')
l

['Prabhas', 'Salaar', 'Ranbir', 'Animal', 'Prashanth']

In [50]:
# TO reverse elements in the list

l.reverse()
l

['Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas']

In [51]:
# To display same list of elements multiple times
n = 5
mt = l*n
print(mt)

['Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas', 'Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas', 'Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas', 'Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas', 'Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas']

In [52]:
# To concatenate two list

l1 = ['111','112','113','114']

l.extend(l1)
print(l)

['Prashanth', 'Animal', 'Ranbir', 'Salaar', 'Prabhas', '111', '112', '113', '114']

In [54]:
# To sort the elements in the list by ascending order

l.sort()
l

['111',
 '112',
 '113',
 '114',
 'Animal',
 'Prabhas',
 'Prashanth',
 'Ranbir',
 'Salaar']

# 2.Write a python program to do in the tuples

In [116]:
# Manipulate using tuples

t = ('Dhoni',183,'Sachin','Greenidge',200,156)

In [117]:
# To add new elements to the end of the tuples

new_element = ('Sehwag',209)
result = t + new_element
print(result)

('Dhoni', 183, 'Sachin', 'Greenidge', 200, 156, 'Sehwag', 209)

In [121]:
# To reverse elements in the list

lst = list(t)
lst.reverse()
lst

[156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni']

In [122]:
#  To display the elements of the same tuple multiple times

t = tuple(lst)

n = 6
multiple_times = t*n
print(multiple_times)

(156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni')

In [123]:
# To concatenate two tuples

t2 = ('Klusener','Ambrose',19,76)
concatenate = t + t2
print(concatenate)

(156, 200, 'Greenidge', 'Sachin', 183, 'Dhoni', 'Klusener', 'Ambrose', 19, 76)

In [124]:
#  To sort the elements in the list in ascending order

lst = list(t)
lst.sort()
print(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

# 3.Write a python program to implement the following using list

In [125]:
#  Create a list with minimum ten numbers

l1 = [10,20,30,40,50,60,70,80,90,100]

In [126]:
#  Display Last number in the list

l1[-1]

100

In [127]:
#  Command for displaying the values from the list 
l1[0:4]

[10, 20, 30, 40]

In [128]:
# Command for displaying the values from the list
l1[2:]

[30, 40, 50, 60, 70, 80, 90, 100]

In [129]:
#  Command for dispalying the values from the list
l1[:6]

[10, 20, 30, 40, 50, 60]

# 4.Write a python program

In [130]:
tuple1 = (10,50,20,40,30)

In [133]:
#  To display the elements 10 and 50 from tuple1
print(index(0),index(1))

(10, 50)

In [135]:
# To display the length of a tuple1

length = len(tuple1)
print(length)

5

In [136]:
#  To find the minimum element from the tuple1

minimum = min(tuple1)
print(minimum)

10

In [137]:
#  To add all the elements in the tuple1

add = sum(tuple1)
print(add)

150

In [138]:
#  To display the tuple multiple times

n = 5
for i in range(n):
    print(tuple1)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5.Write a python program

In [139]:
string = "Jupyter Notebook"

In [140]:
#  To calculate the length of the string

l = len(string)
print(l)

16

In [141]:
#  To reverse words in the string

rev = string[::-1]
print(rev)

koobetoN retypuJ

In [142]:
# To display the same string multiple times

n = 5 
for i in range(n):
    print(string)

Jupyter Notebook
Jupyter Notebook
Jupyter Notebook
Jupyter Notebook
Jupyter Notebook

In [143]:
# TO concatenate two strings

string1 = "is available"

con = string + " " + string1
print(con)

Jupyter Notebook is available

In [145]:
#  To slice 

str1 = "South India"
s = str1[6:]
print(s)

India

# 6.Perform The following

In [9]:
#  Creating the dictionary

dic = {"Virat":"Cricket",
       "Zlatan":"Football",
       "Sharapova":"Tennis",
       "Khamzat":"UFC"
      }

In [2]:
#  Accessing values and keys in the dictionary
print("Virat's sport:", dic["Virat"])
print("Zlatan's sport:", dic["Zlatan"])
print("Sharapova's sport:", dic["Sharapova"])
print("Khamzat's sport:", dic["Khamzat"])

print("\nKeys:")
for key in dic:
    print(key)

Virat's sport: Cricket
Zlatan's sport: Football
Sharapova's sport: Tennis
Khamzat's sport: UFC

Keys:
Virat
Zlatan
Sharapova
Khamzat

In [6]:
# Update
def update(dictionary, player, new):
    if player in dictionary:
        dictionary[player] = new
        print(f"{player}'s sport has been updated to {new}")
        
update(dic, "Virat", "Football")
update(dic, "Khamzat", "MMA")

# Print updated dictionary
print("\nUpdated Dictionary:")
for key, value in dic.items():
    print(f"{key}'s sport: {value}")

Virat's sport has been updated to Football
Khamzat's sport has been updated to MMA

Updated Dictionary:
Virat's sport: Football
Zlatan's sport: Football
Sharapova's sport: Tennis
Khamzat's sport: MMA

In [11]:
#  Clear values

dic.clear()
print(dic)

{}

# 7.Python program to insert a number to any position in a list

In [210]:
list1 = [10,20,30,40,50,60,70,80,90,100]

list1.insert(6,1)
print(list1)

[10, 20, 30, 40, 50, 60, 1, 70, 80, 90, 100]

# 8.Python program to delete an element from a list by index

In [212]:
list2 = [15,34,54,33,22,98,877,65,83,23]
list2.pop(2)
print(list2)

[15, 34, 33, 22, 98, 877, 65, 83, 23]

# 9.Write a program to display a number 1 to 100.

In [215]:
number = 1
while number<=100:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in tuple

In [216]:
t1 = (12,34,84,76,87)

add = sum(t1)
print(add)

293

# 11. Creating a dictionary containing three lambda

In [224]:

my_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: x ** 0.5
}

# Define values to pass to the functions
value = 4

# Apply the lambda functions and add their outputs
result = my_dict['Square'](value) + my_dict['Cube'](value) + my_dict['Square Root'](value)

# Print the result
print("Square:",my_dict['Square'](value))
print("Cube:",my_dict['Cube'](value))
print("Square Root:",my_dict['Square Root'](value))
print("Result :", result)

Square: 16
Cube: 64
Square Root: 2.0
Result : 82.0

# 12.Find the words from the list which have their second character in uppercase.

In [25]:
ls = ["hello", "Dear", "hOw", "ARe", "You"]

result = [word for word in ls if len(word) > 1 and word[1].isupper()]
print(result)

['hOw', 'ARe']

# 13.A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon (wEarth GMoon) / GEarth

i)

# Weight of people in kg

ii)

# Gravitational force on the Moon: 1.622 m/s2

GMoon 1.622

iii)
# Gravitational force on the Earth: 9.81 m/s2

GEarth = 9.81

In [31]:

WeightOnEarth = {'John' : 45,'Shelly': 65, 'Marry': 35}
 
GMoon = 1.622

GEarth = 9.81


WeightOnMoon = list(map(lambda x: x[1] * GMoon / GEarth, WeightOnEarth.items()))

for name, weight_moon in zip(WeightOnEarth.keys(), WeightOnMoon):
    print(f"{name}'s weight on the Moon: {weight_moon} kg")

John's weight on the Moon: 7.440366972477065 kg
Shelly's weight on the Moon: 10.747196738022426 kg
Marry's weight on the Moon: 5.786952089704383 kg

# Control structures

# 1. Python program to n prime numbers

In [3]:
n = int(input("enter the number last number :"))
for i in range(2,n+1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

enter the number last number :10
2
3
5
7

# 2.Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [33]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da


tax = 0.10 * gross_salary


net_salary = gross_salary - tax


print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax Deducted: {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter Basic Salary: 10000
Enter HRA: 2000
Enter TA: 3000
Enter DA: 4000
Gross Salary: 19000.00
Tax Deducted: 1900.00
Net Salary: 17100.00

# 3. Write a python program to search for a string in the given list.

In [38]:

my_list = ["prabhas", "salaar", "lokesh", "leo", "ranbir", "animal", "surya"]

def search(my_list, target):
    l = []
    for index, item in enumerate(my_list):
        if target.lower() in item.lower():
            l.append(index)
    return l


search_target = input("Enter a string to search for in the list: ")


results = search(my_list, search_target)


if results:
    print(f"The string '{search_target}' was found at indices:", results)
else:
    print(f"The string '{search_target}' was not found in the list.")

Enter a string to search for in the list: surya
The string 'surya' was found at indices: [6]

# 4.Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [46]:
def count(string):
    upper_count = 0
    lower_count = 0
 
    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    
    return upper_count, lower_count


string = input("Enter a string: ")
upper_count, lower_count = count(string)

print("Uppercase letters:", upper_count)
print("Lowercase letters:", lower_count)

Enter a string: chARAn
Uppercase letters: 3
Lowercase letters: 3

# 5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [47]:
even = 0
odd = 0

for num in range(12, 38):
    if num % 2 == 0:  
        even += num
    else:
        odd += num

print("Sum of even numbers:", even)
print("Sum of odd numbers:", odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6. Table of any number

In [52]:
number = int(input("Enter a number: "))

start = 1
end = 11

for i in range(start, end ):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# 7. Write a Python program to sum the first 10 prime numbers.

In [56]:
for i in range(2,11):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

2
3
5
7

# 8. write a python program to implement arithmetic operations using nested if statement.

In [61]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operation == "-":
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operation == "*":
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
    else:
        print("Division by zero is not allowed.")
else:
    print("Invalid operation. Please enter +, -, *, or /.")

Enter the first number: 5
Enter the second number: 98
Enter the arithmetic operation (+, -, *, /): +
5.0 + 98.0 = 103.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [62]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32


print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 100
100.0 degrees Celsius is equal to 212.0 degrees Fahrenheit.

# 10. Write a python program to find a maximum and minimum number in a list without using an Inbuilt function.

In [63]:
numbers = []
n = int(input("Enter the number of elements in the list: "))

for i in range(n):
    num = float(input(f"Enter element {i + 1}: "))
    numbers.append(num)

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print(f"Maximum number in the list: {maximum}")
print(f"Minimum number in the list: {minimum}")

Enter the number of elements in the list: 5
Enter element 1: 34
Enter element 2: 25
Enter element 3: 87
Enter element 4: 98
Enter element 5: 98
Maximum number in the list: 98.0
Minimum number in the list: 25.0

# 11.write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute

In [65]:

days = 30
hours = 24
minutes = 60
seconds = 60

seconds_in_month = days* hours * minutes * seconds


print(f"The number of seconds in a 30-day month is: {seconds_in_month} seconds.")

The number of seconds in a 30-day month is: 2592000 seconds.

# 12. Number of seconds in a year

In [66]:
days = 30
hours = 24
minutes = 60
seconds = 60
year = 12

seconds_in_year = days* hours * minutes * seconds * year


print(f"The number of seconds in a 30-day month is: {seconds_in_year} seconds.")

The number of seconds in a 30-day month is: 31104000 seconds.

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [68]:

distance = 414 
speed = 150    

time = distance / speed

print(f"It will take {time} hours to travel from London to Glasgow at an average speed of 150 mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

#  14.Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from: year 7 to year 11, if each day you spend 6 hours in school days in each school year = 192

In [69]:
days_in_each_school_year = 192  

years = 5  

total_hours = days_in_each_school_year * years * 6  

print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours.")

Total hours spent in school from year 7 to year 11: 5760 hours.

# 15. If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [71]:
ram = int(input("Enter the age of Ram: "))
sam = int(input("Enter the age of Sam: "))
khan = int(input("Enter the age of Khan: "))

if ram > sam and ram > khan:
    eldest = "Ram"
elif sam > ram and sam > khan:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram < sam and ram < khan:
    youngest = "Ram"
elif sam < ram and sam < khan:
    youngest = "Sam"
else:
    youngest = "Khan"

print(f"The eldest among Ram, Sam, and Khan is: {eldest}")
print(f"The youngest among Ram, Sam, and Khan is: {youngest}")

Enter the age of Ram: 45
Enter the age of Sam: 56
Enter the age of Khan: 23
The eldest among Ram, Sam, and Khan is: Sam
The youngest among Ram, Sam, and Khan is: Khan

# 16. Write a python program to rotate a list by right n times with and without slicing technique

In [73]:
# Without slicing

def rotate(lst, n):
    if len(lst) == 0:
        return lst
    n = n % len(lst)  
    for _ in range(n):
        lst.insert(0, lst.pop())
    return lst


my_list = [1, 2, 3, 4, 5]
rotations = int(input("Enter the number of rotations: "))

result = rotate(my_list, rotations)

print("List after rotation without slicing:", result)

Enter the number of rotations: 2
List after rotation without slicing: [4, 5, 1, 2, 3]