In [1]:
import mysql.connector
conn = mysql.connector.connect(user = 'root',
                              password = '444@Charanteja',
                              host = '127.0.0.1',
                              database = 'inventory'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A3F18649D0>

In [2]:
curs = conn.cursor()

In [3]:
curs

In [4]:
curs = conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('customer',)
('information_schema',)
('inventory',)
('mysql',)
('performance_schema',)
('sys',)

# 1.Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [ ]:
curs.execute("use inventory")

In [ ]:
purchases_table = '''
                 create table purchases(id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(20),
    quantity INT,
    price INT)'''
curs.execute(purchases_table)

In [21]:
sales_table = '''
                 create table sales(id INT AUTO_INCREMENT PRIMARY KEY,
    sale_name VARCHAR(20),
    quantity INT,
    price INT)'''
curs.execute(sales_table)

In [22]:
inventory_table = '''
                 create table inventory(id INT AUTO_INCREMENT PRIMARY KEY,
    inventory_name VARCHAR(20),
    quantity INT,
    price INT)'''
curs.execute(inventory_table)

In [14]:
curs.execute('show tables')
for i in curs:
    print(i)

('inventory',)
('purchases',)
('sales',)

In [15]:
pur_insert =" insert into purchases(product_name,quantity,price) values (%s,%s,%s)"
pur_val = [('laptop',20,1000),
           ('mobile',30,800),
           ('mouse',40,300),
           ('keyboard',15,400),
           ('printer',10,700)]
curs.executemany(pur_insert,pur_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [17]:
sal_insert =" insert into sales(sale_name,quantity,price) values (%s,%s,%s)"
sal_val = [('laptop',5,1000),
           ('mobile',12,800),
           ('mouse',23,300),
           ('keyboard',8,400),
           ('printer',7,700)]
curs.executemany(sal_insert,sal_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [23]:
inv_insert =" insert into inventory(inventory_name,quantity,price) values (%s,%s,%s)"
inv_val = [('laptop',15,1000),
           ('mobile',18,800),
           ('mouse',17,300),
           ('keyboard',7,400),
           ('printer',3,700)]
curs.executemany(inv_insert,inv_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [20]:
curs.execute("select * from purchases")
for i in curs:
    print(i)

(1, 'laptop', 20, 1000)
(2, 'mobile', 30, 800)
(3, 'mouse', 40, 300)
(4, 'keyboard', 15, 400)
(5, 'printer', 10, 700)

In [21]:
curs.execute("select * from sales")
for i in curs:
    print(i)

(1, 'laptop', 5, 1000)
(2, 'mobile', 12, 800)
(3, 'mouse', 23, 300)
(4, 'keyboard', 8, 400)
(5, 'printer', 7, 700)

In [24]:
curs.execute("select * from inventory")
for i in curs:
    print(i)

(1, 'laptop', 15, 1000)
(2, 'mobile', 18, 800)
(3, 'mouse', 17, 300)
(4, 'keyboard', 7, 400)
(5, 'printer', 3, 700)

# 2. Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department.

In [25]:
sql = 'create database customer'
curs.execute(sql)

In [26]:
curs.execute('show databases')
for i in curs:
    print(i)

('customer',)
('information_schema',)
('inventory',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
curs.execute('use customer')

In [30]:
customers_table = '''
                 create table customers(customer_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_name VARCHAR(20)
    )'''
curs.execute(customers_table)

In [40]:
alter_table= ''' alter table customers ADD COLUMN customer_email VARCHAR(255) UNIQUE '''
curs.execute(alter_table)

In [41]:
cus_insert =" insert into customers(customer_name,customer_email) values (%s,%s)"
cus_val = [('charan','charan@gmail.com'),
           ('teja','teja@gmail.com'),
           ('buchi','buchi@gmail.com'),
           ('chichu','chichu@gmail.com'),
           ('battu','battu@gmail.com')]
curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [31]:
products_table = '''
                 create table products(product_id INT AUTO_INCREMENT PRIMARY KEY,
    product_name VARCHAR(20),
    price DECIMAL(10,2),
    quantity_available INT)'''
curs.execute(products_table)

In [42]:
pro_insert =" insert into products(product_name,price,quantity_available) values (%s,%s,%s)"
pro_val = [('AK-47',10000,30),
           ('UZI',5000,50),
           ('AKM',12500,30),
           ('Carbine',15000,20),
           ('Revolver',3000,500)]
curs.executemany(pro_insert,pro_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [32]:
orders_table = '''
                create table orders(
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    total_price DECIMAL(10, 2),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
) '''
curs.execute(orders_table)

In [43]:
ord_insert =" insert into orders(customer_id,total_price) values (%s,%s)"
ord_val = [(1,5000),
           (2,2000),
           (3,3000),
           (4,6000),
           (5,6500)]
curs.executemany(ord_insert,ord_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

In [35]:
details_table = '''
create table orderdetails(
    orderdetail_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
) '''
curs.execute(details_table)

In [45]:
odt_insert =" insert into orderdetails(order_id,product_id,quantity,unit_price) values (%s,%s,%s,%s)"
odt_val = [(1,4,10,7000),
           (2,5,20,4000),
           (3,2,30,6000),
           (4,1,23,8000),
           (5,3,34,5500)]
curs.executemany(odt_insert,odt_val)
conn.commit()
print(curs.rowcount,'rows are inserted')

5 rows are inserted

# Availability

In [7]:
sql = ''' SELECT product_id, quantity, unit_price FROM orderdetails WHERE order_id = 1 '''
curs.execute(sql)
result = curs.fetchall()
for i in result:
    print(i)
# order_details = curs.fetchall()
# total_cost = 0
# for order_detail in order_details:
#     total_cost += order_detail[1] * order_detail[2]
#     curs.execute("UPDATE Orders SET total_price = %s WHERE order_id = %1%", (total_cost, order_id))
#     conn.commit()
#     print(f"Total cost for Order ID {order_id}: {total_cost}")

(4, 10, Decimal('7000.00'))

#  3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

In [5]:
import mysql.connector
conn = mysql.connector.connect(user = 'root',
                              password = '444@Charanteja',
                              host = '127.0.0.1',
                              database = 'charandb'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017CC84CF850>

In [6]:
curs = conn.cursor()

In [44]:
curs.execute('use charandb')

In [12]:
curs.execute('''create table items(id INT AUTO_INCREMent PRIMARY KEY,
                item_name VARCHAR(20),
                quantity INT)''')

In [14]:
insert_query = ''' INSERT INTO items(item_name,quantity) VALUES (%s,%s) '''
insert_values = [('Apple',30),
               ('Banana',40),
               ('Carrot',50),
                ('Beetroot',25),
                ('orange',35)]
curs.executemany(insert_query,insert_values)
conn.commit()
print(f"{curs.rowcount} rows inserted into items.")

5 rows inserted into items.

In [20]:
try:
    select_query = 'select * from items'
    curs.execute(select_query)
    results = curs.fetchall()

    update_query = "update items set quantity = quantity * 2"

    curs.execute(update_query)
    conn.commit()
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [21]:
curs.execute("select * from items")
for i in curs:
    print(i)

(1, 'Apple', 60)
(2, 'Banana', 80)
(3, 'Carrot', 100)
(4, 'Beetroot', 50)
(5, 'orange', 70)

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1. Design the database schema for the employee management system.

2. Write Python code to connect to the database and retrieve a list of employees in a specific department.

3. Implement a feature to update an employee's salary.

In [23]:
curs.execute("create database employeemanagement")

In [41]:
curs.execute("use employeemanagement")

In [27]:
curs.execute(''' create table employees(
                  employee_id int AUTO_INCREMENT primary key,
                  name varchar(20) not null,
                  salary int not null,
                  department varchar(20) not null,
                  hire_date date not null) ''')

In [44]:
insert_query = 'insert into employees (name,salary,department,hire_date) values(%s,%s,%s,%s)'
employee_data = [('Buchi',60000,'Manager','2023-09-15'),
                ('Chichu',40000,'HR','2023-08-16'),
                ('Tinku',45000,'SME','2023-07-14'),
                ('Battu',50000,'Head','2023-09-15'),
                ('Lomo',30000,'Assistant','2023-08-15'),]
curs.executemany(insert_query,employee_data)

In [45]:
print(f"{curs.rowcount} rows inserted into employees.")

5 rows inserted into employees.

In [46]:
def get_employees(department):
    query = "select * from employees where department = %s"
    curs.execute(query,(department,))
    
    employees = curs.fetchall()
    
    for employee in employees:
        print(f"Employee Id: {employee[0]}, Name: {employee[1]}, Salary: {employee[2]}, Department: {employee[3]}, Hire date: {employee[4]}")

In [47]:
get_employees("HR")

Employee Id: 2, Name: Chichu, Salary: 40000, Department: HR, Hire date: 2023-08-16

In [48]:
def update_salary(employee_id,new_salary):
    update_query = 'update employees set salary= %s where employee_id = %s'
    curs.execute(update_query,(new_salary,employee_id))
    conn.commit()

In [49]:
update_salary(3, 80000)

In [50]:
get_employees("SME")

Employee Id: 3, Name: Tinku, Salary: 80000, Department: SME, Hire date: 2023-07-14