In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Data Preparation:

# a. Load the dataset using pandas.

# b. Explore and clean the data. Handle missing values and outliers.

# c. Split the dataset into training and testing sets.

In [64]:
df = pd.read_csv('Bangalore_house_data.csv')
df

,area_type,availability,location,size,total_sqft,bath,balcony,price(US$)
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2,1,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,2600.0,5,3,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2,3,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3,1,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2,1,51.00
...,...,...,...,...,...,...,...,...
494,Super built-up Area,18-Apr,Electronic City,2 BHK,1128.0,2,1,63.00
495,Super built-up Area,Ready To Move,Omkar Nagar,2 BHK,1000.0,2,1,53.00
496,Super built-up Area,Ready To Move,Yelahanka,2 BHK,1035.0,2,1,45.00
497,Built-up Area,Ready To Move,Kereguddadahalli,2 BHK,950.0,2,1,32.00
498,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,1075.0,2,1,36.00

In [66]:
df.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price(US$)
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2,1,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,2600.0,5,3,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2,3,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3,1,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2,1,51.00

In [67]:
df.tail()

,area_type,availability,location,size,total_sqft,bath,balcony,price(US$)
494,Super built-up Area,18-Apr,Electronic City,2 BHK,1128.0,2,1,63.0
495,Super built-up Area,Ready To Move,Omkar Nagar,2 BHK,1000.0,2,1,53.0
496,Super built-up Area,Ready To Move,Yelahanka,2 BHK,1035.0,2,1,45.0
497,Built-up Area,Ready To Move,Kereguddadahalli,2 BHK,950.0,2,1,32.0
498,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,1075.0,2,1,36.0

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     499 non-null    object
 1   availability  499 non-null    object
 2   location      499 non-null    object
 3   size          499 non-null    object
 4   total_sqft    499 non-null    float64
 5   bath          499 non-null    int64
 6   balcony       499 non-null    int64
 7   price(US$)    499 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 31.3+ KB

In [69]:
df.isna().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price(US$)      0
dtype: int64

In [70]:
x=df.iloc[:,-4:-1]
x.head(5)

   total_sqft  bath  balcony
0      1056.0     2        1
1      2600.0     5        3
2      1440.0     2        3
3      1521.0     3        1
4      1200.0     2        1

In [71]:
y=df.iloc[:,-1:]
y.head(5)

   price(US$)
0       39.07
1      120.00
2       62.00
3       95.00
4       51.00

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Ridge 
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

# 2. Implement Lasso Regression:

a. Choose a set of features (independent variables, X) and house prices as the dependent variable (v).

b. Implement Lasso regression using scikit-learn to predict house prices based on the selected features.

c. Discuss the impact of L1 regularization on feature selection and coefficients.

In [73]:
features = ['total_sqft', 'bath', 'balcony']
x = df[features]
y = df['price(US$)']

In [74]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [75]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
#Train the data
print("Training Started......\n")
print()
mlr.fit(x_train,y_train)
print()
print("Training Completed......\n")
print()
#Test the Data
print("Testing Invoked.....\n")
y_pred=mlr.predict(x_test)
print("Predicted Total Payment\n",y_pred)
print('\n Testing completed....\n')

Training Started......



Training Completed......


Testing Invoked.....

Predicted Total Payment
 [ 55.73216707  -4.5575958  167.56431582 108.01904563  70.74848246
 353.30543885 -12.17939039 111.114722    92.31678107 114.50915601
   2.87365392  93.01295986  12.0313924   51.30132128 234.76065235
  74.4538777  178.75814893 155.36944449 120.64196523  60.78160598
  58.11397788 126.35831117  87.36125923 301.57115274  86.4085349
 -16.943012   135.98082683  81.12159259 106.20751405  97.31926146
 123.02377603  59.63833679  36.34490478  67.64122111  87.0767973
  53.68313209  -7.27218244  40.29803304  74.69002573  69.54666975
 116.35470577  62.11406466 119.6892409  187.1244362   11.63871769
  88.60115622 196.81159717  38.10676709  -3.12850932  98.7939511
  12.0313924   91.55460162  96.2229508    2.11147446  73.28448231
  -7.41576877 353.18564108 417.05902746 142.99561327  76.69210218
  36.10604602  69.40308342 139.42221938 168.65927111  92.41205351
  76.8636049   71.1179872   86.29693107 133.83651942  59.49475046
 135.74196806  57.01766722  60.78160598  68.64090396  51.92126978
  52.56558646 110.65740198 105.25478973 110.01841134  78.90653809
 111.16168053  60.06638506 192.09628945  27.48321321  49.74769061
 154.94004086  82.26486178  49.06309681  45.10861318 105.25478973
  60.82856451  55.39803587 102.54020309 131.12193278 318.45680645
  92.39301136 115.87834361 125.1973552   56.16021533  50.96854546]

 Testing completed....

In [82]:

print("Base Train_score:\t", mlr.score(x_train,y_train))
print()
print("Base Test_score:\t", mlr.score(x_test,y_test))
print()
print("Base R-Square:\t",r2_score(y_test,y_pred))

Base Train_score:	 0.6518592826798218

Base Test_score:	 0.5073251787924165

Base R-Square:	 0.5073251787924165

In [84]:


# Calculate MAE, MSE, and RMSE
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2_value = r2_score(y_test, y_pred)

print(f'Mean Absolute Error (MAE): ',mae)
print(f'Mean Squared Error (MSE): ',mse)
print(f'Root Mean Squared Error (RMSE): ',rmse)
print(f'R-squared value: ',r2_value)

Mean Absolute Error (MAE):  38.98608923639021
Mean Squared Error (MSE):  4777.289774170572
Root Mean Squared Error (RMSE):  69.11794104406303
R-squared value:  0.5073251787924165

# Lasso Regression

In [76]:
print("Lasso Regression Model")
print()
lr=Lasso(alpha=0.01)
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
print("Lasso Train_score:\t", lr.score(x_train,y_train))
print()
print("Lasso Test_score:\t", lr.score(x_test,y_test))
print()
print("Lasso R-Square:\t",r2_score(y_test,lr_pred))

Lasso Regression Model

Lasso Train_score:	 0.6518592695900518

Lasso Test_score:	 0.507341395827883

Lasso R-Square:	 0.507341395827883

In [86]:
lr.coef_

array([ 0.0952743 , 17.88496367, -6.79586867])

# Ridge Regression

In [88]:
print("Ridge Regression Model")
print()
rr=Ridge(alpha=0.01)
rr.fit(x_train,y_train)
rr_pred=rr.predict(x_test)
print("Ridge Train_score:\t", rr.score(x_train,y_train))
print()
print("Ridge Test_score:\t", rr.score(x_test,y_test))
print()
print("Ridge R-Square:\t",r2_score(y_test,rr_pred))

Ridge Regression Model

Ridge Train_score:	 0.6518592826684726

Ridge Test_score:	 0.5073263539690478

Ridge R-Square:	 0.5073263539690478

In [89]:
rr.coef_

array([ 0.0952726 , 17.89315142, -6.81236477])

In [90]:
# with 100 alpha
print("Ridge Regression Model")
print()
rr=Ridge(alpha=100)
rr.fit(x_train,y_train)
rr_pred=rr.predict(x_test)
print("Lasso Train_score:\t", rr.score(x_train,y_train))
print()
print("Lasso Test_score:\t", rr.score(x_test,y_test))
print()
print("Lasso R-Square:\t",r2_score(y_test,rr_pred))

Ridge Regression Model

Lasso Train_score:	 0.6511357708607324

Lasso Test_score:	 0.5161102947737013

Lasso R-Square:	 0.5161102947737013